<div class="section-container py-6 px-4">
    <div class="flex flex-col items-center py-6 px-4">
      <!-- Text -->
      <span class="text-lg font-semibold text-pink-600 text-center"> <span class="text-[#471221]">المنتجات</span>
         الأكثر مبيعاً</span>
      
      <!-- Dots -->
      <div class="flex space-x-2 mt-2">
        <span class="inline-block w-2 h-2 bg-pink-500 rounded-full"></span>
        <span class="inline-block w-2 h-2 bg-pink-500 rounded-full"></span>
        <span class="inline-block w-2 h-2 bg-pink-500 rounded-full"></span>
      </div>
    </div>
  
    <!-- Carousel Container -->
    <div class="owl-carousel-container">
      <owl-carousel-o [options]="carouselOptions" #carousel>
        <ng-container *ngFor="let item of products; let i = index">
          <ng-template carouselSlide [id]="'owl-slide-item-' + i">
            <!-- Pass product data to app-product component -->
            <app-product [product]="item"></app-product>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
  
      <!-- Left Arrow Button -->
      <button class="left btn" (click)="prevSlide()">
        <!-- Left Arrow Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
        </svg>
      </button>
  
      <!-- Right Arrow Button -->
      <button class="right btn" (click)="nextSlide()">
        <!-- Right Arrow Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </button>
    </div>
  </div>