<div class="min-h-screen bg-white p-6" dir="rtl">
    <!-- Container for Centered Content -->
    <div class="container mx-auto">
      <!-- Centered Section -->
      <div class="flex flex-col items-center justify-center mb-8">
        <div class="text-center max-w-md w-full">
          <!-- Heading -->
          <h1 class="text-[#000000] font-bold text-xl mb-6">تم استلام الأوردر</h1>
  
          <!-- Buttons -->
          <div class="flex flex-col md:flex-row gap-4">
            <!-- First Button -->
            <button
              class="w-full px-8 py-3 bg-[#EF3D6F] text-white font-medium rounded-lg hover:bg-[#D6325C] transition duration-300"
            >
              تم استلام الأوردر
            </button>
  
            <!-- Second Button -->
            <button
              class="w-full px-8 py-3 text-[#EF3D6F] border border-[#EF3D6F] font-medium rounded-lg hover:bg-[#EF3D6F] hover:text-white transition duration-300"
            >
              شوف تفاصيل طلبك
            </button>
          </div>
        </div>
      </div>
  
      <!-- Address Section -->
      <div class="bg-white p-6 rounded-lg mb-6">
        <div class="p-4 rounded-lg border border-[#BDBDBD]">
          <div class="flex flex-row justify-between items-center">
            <p class="text-[#000000] font-bold">عنوان التوصيل (المنزل)</p>
          </div>
          <hr class="h-px my-4 bg-gray-200 border-0" />
          <p class="text-[#777777] pb-2">Bassam Ramadan</p>
          <p class="text-[#000000] font-bold">
            <i class="fa fa-map-marker text-[#471221] pl-2" aria-hidden="true"></i>
            فيلا 1000 - الحي الأول - شرق النيل - قسم بني سويف - محافظة بني سويف
          </p>
        </div>
      </div>
  
      <!-- Order Details Section -->
      <div class="bg-white p-6 rounded-lg">
        <div class="flex justify-between items-center mb-4">
          <h2 class="text-xl font-semibold text-[#471221]">تفاصيل الطلبية</h2>
          <p class="text-sm text-[#777777]">1 شحنة</p>
        </div>
        <div class="p-4 rounded-lg border border-[#BDBDBD]">
          <p class="text-gray-600 mb-4">شحنة رقم 1 من 1 (1 منتج)</p>
          <div class="flex flex-row items-center space-x-4">
            <img
              src="assets/images/cart.png"
              alt="Product Image"
              class="w-24 h-auto rounded-lg"
            />
            <div class="flex flex-col">
              <p class="text-[#777777]">ماركة شيجلام</p>
              <p class="text-[#000000] font-bold">
                مجموعة Dazzler Glitter للشفاه من شيجلام
              </p>
              <span class="text-[#EF3D6F] text-2xl font-bold">310.00 جنيه</span>
            </div>
          </div>
          <p class="text-[#000000] font-bold mt-4">
            احصل عليها <span class="text-[#EF3D6F]">الخميس 2 يناير</span>
          </p>
        </div>
      </div>
    </div>
  </div>