@keyframes moveRightToLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .moving-text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: moveRightToLeft 10s linear infinite;
  }
  