<div class="" *ngIf="priceforfreeshiping">
  <div class="relative w-full bg-[#EEEEEE] p-2 flex items-center justify-center shadow-md rounded-md overflow-hidden">
    <div class="moving-text flex items-center">
      <p class="text-[#000000] text-lg md:text-xl whitespace-nowrap">
        اشتري كل منتجات شوبينير وهتوصلك تاني يوم الشحن مجاني للطلبات فوق 
        <span class="font-bold text-[#EF3D6F]">{{ priceforfreeshiping }}</span> جنيه
      </p>
      <img src="assets/images/offer-car.png" class="ml-4 w-10 h-10">
    </div>
  </div>
</div>