

    <div class="container">
        <h1>سياسة الخصوصية</h1>
        <p>نشكركم على ثقتكم بنا. نحن نولي اهتمامًا كبيرًا بخصوصية بياناتكم، ونهدف دائمًا إلى توفير الحماية اللازمة لمعلوماتكم. توضح هذه السياسة كيفية جمع البيانات واستخدامها ومشاركتها عند استخدام خدماتنا.</p>

        <h2>ما هي البيانات التي قد نجمعها منك؟</h2>
        <p>قد نقوم بجمع البيانات التالية عند استخدامك لموقعنا:</p>
        <ul>
            <li>معلومات شخصية مثل الاسم والبريد الإلكتروني.</li>
            <li>رقم الهاتف وبيانات التواصل.</li>
            <li>المعلومات المتعلقة بالطلبات والمعاملات.</li>
            <li>بيانات تصفح الموقع.</li>
        </ul>

        <h2>كيف نستخدم البيانات الخاصة بك؟</h2>
        <p>نستخدم البيانات التي نجمعها للأغراض التالية:</p>
        <ul>
            <li>تقديم الخدمات وتحسين تجربة الاستخدام.</li>
            <li>التواصل معك بشأن الطلبات والاستفسارات.</li>
            <li>تحسين موقعنا الإلكتروني وتقديم محتوى مخصص.</li>
            <li>تحليل البيانات لأغراض تسويقية.</li>
        </ul>

        <h2>إلى من يمكننا الإفصاح عن بياناتك؟</h2>
        <p>قد نشارك بياناتك مع الأطراف التالية:</p>
        <ul>
            <li>شركات الشحن والتوصيل.</li>
            <li>مقدمو الخدمات الذين يساعدوننا في تحسين خدماتنا.</li>
        </ul>

        <h2>كيف نحمي البيانات الخاصة بك؟</h2>
        <p>نتخذ إجراءات أمنية مشددة لضمان حماية بياناتك من الفقدان أو الاستخدام غير المصرح به.</p>

        <h2>ما هي حقوقك الخاصة بالبيانات؟</h2>
        <p>يحق لك الوصول إلى بياناتك أو تحديثها أو طلب حذفها في أي وقت.</p>

        <h2>كيف يمكنك الاتصال بنا؟</h2>
        <p>إذا كان لديك أي استفسار حول سياسة الخصوصية، يمكنك التواصل معنا عبر البريد الإلكتروني:</p>
        <p><a href="mailto:support@shopneer.com">supportshopneer.com</a></p>

        <div class="footer">
            <p>شكراً لثقتكم بنا. نحن دائمًا نسعى للحفاظ على خصوصيتكم.</p>
        </div>
    </div>

