
    
    <div class="container">
        <h1>سياسة الاسترجاع لـ Shopyneer.com</h1>
        <p>تسري سياسة الاسترجاع هذه على جميع المنتجات التي يتم شراؤها من موقع <a href="http://www.shopyneer.com">www.shopyneer.com</a>. لن تُقبل المنتجات المسترجعة إلا في حال استيفاء الشروط المحددة أدناه. تحتفظ شوبينير بحقها في رفض أي طلب استرجاع إذا كانت المنتجات المسترجعة لا تتوافق مع الشروط والمعايير المحددة. لا يحق للعميل المطالبة باسترداد الأموال إذا تم رفض طلب الاسترجاع.</p>
        
        <h2>الشروط المحددة حسب الفئات</h2>
        <h3>الجمال والصحة:</h3>
        <ul>
            <li>لا يسمح باسترجاع منتجات العناية بالشعر، والعناية الشخصية، والفيتامينات، والمكملات الغذائية، والمنتجات الغذائية الرياضية.</li>
            <li>تُرفض أي منتجات جمال أو عطور تم فتحها أو استخدامها، بما في ذلك مستحضرات التجميل ومنتجات العناية بالبشرة.</li>
        </ul>

        <h3>الأجهزة الإلكترونية:</h3>
        <ul>
            <li>يجب أن يكون المنتج غير مفتوح وفي عبوته الأصلية مع جميع الملصقات الأصلية.</li>
            <li>في حال استخدام المنتج أو فتح العبوة أو إزالة الملصقات، سيتم رفض طلب الاسترجاع إلا إذا كان هناك عيب في التصنيع.</li>
        </ul>

        <h3>الموضة:</h3>
        <ul>
            <li>لا يمكن استرجاع الملابس الداخلية، وأثواب السباحة، وحمالات الصدر، والجوارب، والكولون.</li>
            <li>الملابس يجب أن تكون غير مستخدمة، وغير مغسولة، وفي حالتها الأصلية مع جميع البطاقات والملصقات.</li>
        </ul>

        <h2>الشروط العامة للاسترجاع</h2>
        <ul>
            <li>يجب أن يكون المنتج في تغليفه الأصلي وغير مفتوح.</li>
            <li>في حال تم فتح المنتج أو استخدامه أو إزالة أي تغليف أصلي، سيتم رفض طلب الاسترجاع.</li>
        </ul>

        <h2>نافذة الاسترجاع</h2>
        <p>ما لم يتم تحديد خلاف ذلك، يمكن استرجاع المنتجات خلال 14 يومًا من تاريخ الشراء بشرط أن تكون في حالتها الأصلية.</p>

        <h2>الشروط العامة للتعويض</h2>
        <p>تحتفظ شوبينير بحق إعادة المنتج إلى العميل إذا لم يستوفِ الشروط. قد يكون هناك اختلاف في المبلغ المسترد وطريقة الدفع بناءً على حالة المنتج ومدى استخدامه ومدة بقاء المنتج مع العميل.</p>

        <p>هذه السياسة تهدف إلى ضمان رضا العملاء مع الحفاظ على معايير الجودة العالية التي يلتزم بها موقع Shopyneer.com.</p>

        <div class="footer">
            <p>لأي استفسارات إضافية، يمكنك التواصل معنا عبر البريد الإلكتروني:</p>
            <p><a href="mailto:support@shopyneer.com">supportshopyneer.com</a></p>
        </div>
    </div>
